body {
    background: #d7d7d7;
    background: -webkit-linear-gradient(0deg, #d7d7d7 0%, #eeeeee 100%);
    background: linear-gradient(0deg, #d7d7d7 0%, #eeeeee 100%);
}

.page {
    display: none;
    width: 100%;

}

#homepage {
    display: block;
}

.postDiv {
    border: 1px solid salmon;
    margin-bottom: 10px;
}

.logo-container {
    width: 20%;
}

.logo {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: flex-start; 
}

.navGroup {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.comment-section{
    display: none;
}

main {
    display: flex;
    justify-content: center;
}

h2, em, label {
    color: black;
}

a {
    color:steelblue;
}


/* Chat rooms */

.chatRoom:hover {
    cursor: pointer;
}

.chatWindow  {
    display: none;
    background-color: azure;
    border-radius: 45px;
}