#homepage, #messenger {
    padding: 5% 0 0 0.6%;
    display: block;
    min-width: 100%;

}


html, body {
    min-height: 100%;
    margin: 0;
    padding: 0 !important;
}

.background {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: -10;
    height: 100% !important;
    width: 100% !important;
    background-color: black;
    
}


main {
    display: flex;
    justify-content: center;
    min-width: 100%;
}

h2, h3, em, label {
    color: white;
}

a {
    color:steelblue;
}

.newpostbody {
    margin-top: 40px;
}

.postDiv {
    margin: 20px 30px 20px 30px;
    
}

.mr-2 {
    margin-right: 12px;
}

.inlinecategory {
    display: inline-block;
}
.bold {
    font-weight: bolder;
}


/* Logout button */

.logout-btn {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.logout-btn:focus, .logout-btn:hover {
    color: var(--bs-nav-link-hover-color);
}


/* Chat rooms */

.chatRoom:hover {
    cursor: pointer;
}

.chatWindow  {
    display: none;
    background-color: azure;
}

#chatwith {
    color: black;
}

.chatForm > input {
    width: 60% !important;
}

/* Login page */

.container {
    margin-left: auto !important;
    margin-right: auto !important;
    margin: 100px 0 0 0 !important;
}


/* Comment section */
.comment-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.commenttxtbox, .commentbttn {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.commenttxtbox {
    border-radius: 2% ;
    margin-right: 5px;
}

/* dropdown */ 

.categorydd {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.navbar-brand {
    font-family: 'Rubik Glitch', cursive !important;
    font-size: 2.5em !important;
    margin-left: 0.3em !important;
}

.navbar {
    margin-bottom: 100px !important;
}

/* Responsive */ 

@media (max-width: 876px) {

    .background {
        /* position: absolute; */
        /* min-height: 100% !important; */

    }
    
}


.movein {
    animation: move 1s ease-in forwards;
    animation-iteration-count: 1;
}

/* Posts */
@keyframes move {
    from {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(0px)
    }
    
}

@keyframes movedown {
    from {
        transform: translateY(0%)
    }
    to {
        transform: translateY(305px)
    }
}
